html,
body {
  padding: 0;
  margin: 0;
  /* background-color: #B71F71; */
  font-family: "Billiers", "Georgia",sans-serif;
  background-image: url(https://rgvart.io/images/welcome-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 62%,50%;
  height: 100vh;
  color: white;
  /* letter-spacing: 2px; */
}

.bg{
  height: 100vh;
  backdrop-filter: brightness(0.5);
  display: flex;
  flex-flow: column;
}

.center{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


header{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 25px 25px 0px 25px !important

}

/* p{
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
} */

.logo{
  width: 120px;
}


button{
  font-family: "Billiers", "Georgia",sans-serif;
  background-color: #fff;
  color: #FF80AB;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 50px;
}

.connect{
  padding: 20px 40px;
  font-size: 25px;
  line-height: 0px;
}
.connect-condensed{
  padding: 15px 15px;
  font-size: 20px;
  line-height: 25px;
  /* line-height: 40px; */
}

@media (min-width: 768px) {
  header{
    align-items: flex-start !important;
    padding: 50px 50px 0px 50px !important
  }
  .logo{
    width: 156px !important;
  }
  .connect{
    padding: 0px 47px !important;
    font-size: 30px !important;
    line-height: 50px !important;
  }
}

.bodyHeader{
  text-align: center;
}

h1{
  font-size: 70px;
  margin: 0px;
}
h2{
  font-size: 50px;
  margin: 0px;
}
h3{
  font-size: 40px;
  margin: 0px;
}
h4{
  font-size: 30px;
  margin: 0px;
}
h6{
  font-size: 17px;
  margin: 0px;
  color: #FF80AB;

}
span{
  font-size: 35px;
  color: #c2b3b6;
}
/* @font-face {
  font-family: "Billiers";
  src: url("/fonts/billiers_regular.ttf");
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: "Billiers";
  src: url("/fonts/billiers_regular-webfont.woff2") format("woff2"), url("/fonts/billiers_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
