html,
body {
  padding: 0;
  margin: 0;
  background-color: #B71F71;
  font-family: "Billiers", "Georgia", sans-serif;
  background-image: url(https://rgvart.io/images/welcome-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 62%, 50%;
  height: 100vh;
  color: white;
  /* letter-spacing: 2px; */
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/* @font-face {
  font-family: "Billiers";
  src: url("/fonts/billiers_regular.ttf");
  font-weight: normal;
  font-style: normal;
} */
@font-face {
    font-family: "Billiers";
    src: url("/fonts/billiers_regular-webfont.woff2") format("woff2"), url("/fonts/billiers_regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  * {
    box-sizing: border-box;
  }


.bg {
  height: 100vh;
  backdrop-filter: brightness(0.5);
  display: flex;
  flex-flow: column;
}

.center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-family: "Billiers", "Georgia", sans-serif;
  background-color: #fff;
  color: #FF80AB;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 50px;
}
