@media (min-width: 768px) {
  h1 {
    font-size: 70px !important;
  }
  h2 {
    font-size: 50px !important;
  }
  h3 {
    font-size: 40px !important;
  }
  h4 {
    font-size: 30px !important;
  }
  h6 {
    font-size: 17px !important;
  }
  header {
    align-items: flex-start !important;
    padding: 35px 50px 0px 50px !important
  }
  span{
    font-size: 35px !important;
  }
  .logo {
    width: 130px !important;
  }
  .connect {
    padding: 0px 47px !important;
    font-size: 30px !important;
    line-height: 50px !important;
  }
  .connect-condensed {
    padding: 10px 30px;
    font-size: 25px;
    line-height: 30px;
    /* line-height: 40px; */
  }

.spacer {
  height: 10px !important;
}
}
